<nz-layout class="homeHeader">
  <div fxLayoutAlign="space-between center">
    <img nz-image class="no_pointer_events buw-tmdt-logo" nzSrc="assets/tmdt.png" alt="The Logo of the Institute of TMDT"/>
    <div class="header_title" fxLayoutAlign=" center">
      <div>Visuelle Inspektion</div>
    </div>
    <div></div>
  </div>

  <nz-content fxLayoutAlign="center" class="whole_page">
    <button nz-button nzType="primary" nzSize="large" class="forwardButton" routerLink="/demonstrator">Zur Demo</button>
  </nz-content>
</nz-layout>
