:host {
  @tmdt-logo-height: 50px;

  .homeHeader {
    .whole_page {
      background: #000000;
      min-width: 100vh;
      height: calc(100vh - @tmdt-logo-height);

      .infographic {
        height: 100%;
        width: auto;
      }

      .forwardButton {
        position: absolute;
        bottom: 5%;
        right: 5%;
        z-index: 99;
      }
    }

    .header_title {
      font-size: 18px;
      font-weight: bold;
    }

    .buw-tmdt-logo {
      height: @tmdt-logo-height;
      width: auto;
    }
  }
}
