:host {
  .selfmade-menu {
    width: 24%;
    height: 98%;
    border-right: 1px black solid;

    .explanation-text {
      font-size: 18px;
    }
  }

  .image-area {
    width: 74%;
    height: 98%;
  }

  .aoi_image {
    max-width: 90%;
  }
}
