<div class="home-page-footer" fxLayout="row" fxLayoutAlign="center center">
  <div class="footer-text" fxLayout="row">
    <div class="addresses" fxLayout="column">
      <div class="contact_us">
        Contact us
      </div>
      <div>
        <a href="mailto:divabre@uni-wuppertal.de" class="mb-10"> <b>Send us an e-Mail</b> </a>
      </div>
      <div>
        <a href="https://tmdt.uni-wuppertal.de" target="_blank">
          Lehrstuhl für Technologien und Management der Digitalen Transformation<br>
          Bergische Universität Wuppertal<br>
          Rainer-Gruenter-Str. 21<br>
          42119 Wuppertal<br>
        </a>
      </div>
    </div>
    <div class="imp_ver" fxLayoutAlign="end center">
      <div fxLayout="column">
        <a routerLink="/impressum" class="impressum"> Impressum </a>
        <div>Version: 0.0.1</div>
      </div>
    </div>
  </div>
</div>
